##Initial properties for the known platforms
#This property file is used to associate the platforms specified in the comm
#ID string (e.g. serial@COM1:mica) with various platform-specific parameters
#The entry format is as follows: 
#	<platform>=<platform package>, <integer ID>, <baudrate>
#	where
#<platform> -- that's the platform we compile for (i.e. valid nesc target
#<platform package> -- name of the common package family that uses the same AM format (e.g. avrmote)
#<integer ID> -- unique integer that is used by serial forwarder to identify the platform across the network
#<baudrate> -- default serial port datarate used to communicate with the mote

#Fri Sep 12 16:58:17 CEST 2008
eyesIFX=eyesIFX,4,57600
#telos=telos,2,57600
telos=telos,2,115200
mica=avrmote,1,19200
micaz=micaz,3,57600
eyesIFXv2=eyesIFXv2,5,57600
mica2=avrmote,1,57600
mica2dot=avrmote,1,19200
