<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	id="WebApp_ID" version="2.5">
  
  	<display-name>NoSe</display-name>
  	
	<context-param>
	        <description>Spring configuration file</description>
	        <param-name>contextConfigLocation</param-name>
	        <param-value>/WEB-INF/spring.xml</param-value>
	</context-param>
	
	<listener>
		<description>Spring Loader</description>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>	
	
	<!--
	<persistence-unit-ref>
        <description>
            Persistence unit for the bank application.
        </description>
        <persistence-unit-ref-name>persistence/treeService</persistence-unit-ref-name>
        <persistence-unit-name>treeService</persistence-unit-name>       
	</persistence-unit-ref>
	-->	

  	<welcome-file-list>
	    <welcome-file>index.html</welcome-file>
	    <welcome-file>index.htm</welcome-file>
	    <welcome-file>index.jsp</welcome-file>
	    <welcome-file>default.html</welcome-file>
	    <welcome-file>default.htm</welcome-file>
	    <welcome-file>default.jsp</welcome-file>
  	</welcome-file-list>
  	
  	<servlet>
	    <description></description>
	    <display-name>GraphServlet</display-name>
	    <servlet-name>GraphServlet</servlet-name>
	    <servlet-class>org.nose.servlet.GraphServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
	    <servlet-name>GraphServlet</servlet-name>
	    <url-pattern>/graph</url-pattern>
  	</servlet-mapping>

  	<servlet>
	    <description></description>
	    <display-name>ReceiveServlet</display-name>
	    <servlet-name>ReceiveServlet</servlet-name>
	    <servlet-class>org.nose.servlet.ReceiveServlet</servlet-class>
  	</servlet>
  
  	<servlet-mapping>
	    <servlet-name>ReceiveServlet</servlet-name>
	    <url-pattern>/myservlet</url-pattern>
  	</servlet-mapping>
  
  	<servlet>
	    <description></description>
	    <display-name>TreeServlet</display-name>
	    <servlet-name>TreeServlet</servlet-name>
	    <servlet-class>org.nose.servlet.TreeServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
	    <servlet-name>TreeServlet</servlet-name>
	    <url-pattern>/tree</url-pattern>
  	</servlet-mapping>
  
  	<servlet>
	    <description></description>
	    <display-name>DataImporterServlet</display-name>
	    <servlet-name>DataImporterServlet</servlet-name>
	    <servlet-class>org.nose.servlet.DataImporterServlet</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
	    <servlet-name>DataImporterServlet</servlet-name>
	    <url-pattern>/data</url-pattern>
  	</servlet-mapping>
  	
</web-app>